.game-container{
    position: relative;
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
    background-color: #222;

    animation: rise-game-page;
    animation-iteration-count: 1;
    animation-duration: .6s;
    transition: all ease-out .6s;

}
.game-container.leave{
    animation: leave-game-page;
    animation-iteration-count: 1;
    animation-duration: .6s;
}

@keyframes rise-game-page {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes leave-game-page {
    0%{
        left: 0;
    }
    100%{
        left: -100vw;
    }
}

.game-container .boards-container{
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;

    width: 100%;
}
.game-container .boards-container p{
    text-align: center;
    font: 400 32px 'Roboto';
    color: #f2f2f2;

}
.game-container .boards-container>p{
    position: relative;
    top: 32px;
}
.game-container .boards-container .board-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.game-container .boards-container .board-container p.nickname{
    font-size: 48px;
    font-weight: 900;

}

.game-container .buttons-container{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 20vh;
}
.game-container .buttons-container button{
    width: 70%;
    padding: .8rem 1rem;

    font: 900 22px 'Roboto';
    color: #f2f2f2;
    background-color: rgba(220, 20, 60, .5);
    
    border: none;
    border-radius: 10px;

    transition: all ease-in-out .2s;

}

.game-container .buttons-container button:hover{
    background-color: rgba(220, 20, 60);
    transform: scale(1.05);

}