.main-menu-container{
    position: relative;

    height: 100%;
    background-color: #222;

    animation: rise-main-menu;
    animation-iteration-count: 1;
    animation-duration: .6s;
}
.main-menu-container.leave{
    left: -100vw;

    animation: leave-main-menu;
    animation-iteration-count: 1;
    animation-duration: .6s;
}

@keyframes rise-main-menu {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes leave-main-menu {
    0%{
        left: 0;
    }
    100%{
        left: -100vw;
    }
}


.title-container,
.signin-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33vh;
}

.title-container h1{
    font: 900 96px 'Roboto';
    color: #f2f2f2;
}


.signin-container{
    flex-direction: column;
    gap: 8px;
}
.signin-container input{
    padding: .5rem 1rem;
    width: 300px;

    font: 400 16px 'Roboto';

    border-radius: 5px;
    border: none;
    outline: none;
    transition: all ease-in-out .2s;
}
.signin-container input.invalid{
    border: 2px solid rgb(220, 20, 60);
    background-color: #f8aebd;
}


.signin-container button{
    padding: .8rem 1rem;
    width: 300px;

    font-weight: 900;
    font-size: 22px;
    color: #f2f2f2;
    background-color: orange;
   
    border-radius: 10px;
    border: none;
    
    cursor: pointer;
    transition: all ease-in-out .2s;
}
.signin-container button:hover{
    background-color: #007fff;
    transform: scale(1.05);
}