.board{
    display: flex;
    flex-direction: column;

    border: 2px solid #007fff;
    background-color: #333;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    border-radius: 10px;

    width: 40vw;
    max-width: 500px;
    overflow: hidden;
}
.board .row{
    display: flex;
}
.board .row:not(:last-child){
    border-bottom: 2px solid #007fff;
}
.board .row .cell{
    height: calc(40vw / 10);
    max-height: 50px;
    width: calc(40vw / 10);
    max-width: 50px;
}
.board .row .cell:not(:last-child){
    border-right: 2px solid #007fff;
}

.board .row .cell.attacked{
    background-color: rgb(255, 0, 0, .5);
}


.board .row .cell.ship{
    background-color: rgb(0, 127, 255);
}
.board .row .cell.hover-correct{
    background-color: rgb(0, 255, 127, .3);
}
.board .row .cell.hover-wrong{
    background-color: rgb(255, 0, 127, .3);
}
.board:not(.setup):not(#player-board) .row .cell:not(.attacked):not(.ship):hover{
    background-color: #444;
}